body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90.5rem;
    height: 140rem;
    background: #FAFAFA;
}

/* Header */
.header {
    border-bottom: 1px solid gray;
    height: 4rem;
    }

.header-2i {
    position: absolute;
    top: 1.4rem;
    left: 44.5rem; 
}

.header input {  
    padding-left: 4.4rem; 
}

.header-3 {
    position: relative;
    flex-direction: row;
    align-items: center;
}

.header-3i1 {
    position: absolute;
    left: 11rem;
    top: 1rem;
}

.header-3i2 {
    position: absolute;
    left: 15rem;
    top: 1rem;
}

.header-3i3 {
    position: absolute;
    left: 17rem;
    top: 1rem;
}

.header-3i4 {
    position: absolute;
    left: 19rem;
    top: 1.4rem;
    width: 17px;
    height: 17px;
}

.header-3ip {
    position: absolute;
    left: 13rem;
    top: 1rem;
}

.plane-dot {
    position: absolute;
    left: 13.5rem;
    top: 1rem;
    width: 17px;
    height: 17px;
}
 
/* Main */
.main {
    width: 59rem;
    height: 28rem;  
    display: flex; 
    flex-direction: column;
    position: relative;
}

.main-11 {
    display: flex;
    flex-direction: row;
}

.main-11i {
    position: absolute;
    top: 2rem;
    left: 20rem;
}

.main-11-1 {
    position: absolute;
    top: 2rem;
    left: 36rem;
    display: flex;
    flex-direction: row;
    gap: 2.5rem;
}

.main-11-2 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 6rem;
    left: 36rem;
}

.main-11-2p {
    margin-right: 2rem;
}

.main-11-3 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 9rem;
    left: 36rem;
}

.bit {
    text-decoration: none;
}

.main-12 {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 20rem;
    left: 20rem;
    gap: 2.5rem;
}

hr {
    width: 59rem;
    height: 1px;
    background: var(--instagramlightgrey, #DBDBDB);
    position: absolute;
    top: 28rem;
    left: 11rem;
}

.main-2 {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    top: 30rem;
    left: 10rem;
}

.main-21, .main-22 {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;     
}

.main-21 {
    margin-right: 4rem;
    color: var(--instagramblack, #262626);
    font-family: GFS Neohellenic;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.main-22 {
    color: var(--instagramgrey, #8F8F8F);
    font-family: GFS Neohellenic;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.08px;
}

.main-2p1 {
    width: 3rem;
}

/* Footer */
.footer {
    margin-top: 4rem;
    margin-left: 5rem;
    position: relative;
    justify-content: center;
}
